@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.App {
  text-align: center;
}
.sidebarNav {
  border-right: solid 1px black;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  width: 20%;
  height: 100vh;
  justify-content: space-around;
  background: #000;
  /* Tryg */
  min-width: 230px;
}
.sidebarNav .navlinks {
  list-style: none;
  text-decoration: none;
  color: white;
  text-align: center;
}
.navlinks:hover {
  color: #00bcd4;
}
.navlinks.homepage {
  font-size: large;
}
.navContainer {
  display: flex;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
h1 {
  font-size: 3rem;
}
.restaurants {
  display: flex;
  flex-wrap: wrap;
}
.restaurantCard {
  flex: 30% !important;
  margin: 10px !important;
  padding: 10px !important;
  display: flex !important;
  justify-content: center !important;
}
.filter {
  display: flex;
  justify-content: center;
}
.MuiCardMedia-root {
  width: 300px !important;
  height: 300px !important;
}
.card {
  width: 100% !important;
  object-fit: contain !important;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.MuiCard-root {
  width: 300px !important;
  height: auto !important;
}
.mapContainer {
  height: 100%;
}
.css-13xfq8m-MuiTabPanel-root {
  padding: 0px !important;
}
.details-tab-container {
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  align-items: center;
}
.details-restaurant-img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.img-tab-container {
  width: 75%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  margin: 0 auto;
}
.img-tab-container .Carousel {
  margin-top: 10px;
  width: 70%;
  height: 500px;
}
.img-tab-container .Carousel img {
  width: 100%;
  height: 500px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.restaurant-menu {
  text-align: center;
}
.restaurant-menu img {
  margin-top: 10px;
  width: 350px;
  height: 400px;
}
.restaurant-menu img:hover {
  cursor: pointer;
}
.resize {
  height: 100%;
}
